<h3>Cart</h3>

<app-sizer [(size)]="fz"></app-sizer>

<div [style.font-size.px]="fz">Hello world</div>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div *ngFor="let product of cart.products$ | async" class="cart-item">
  <span>{{ product.name }}</span>
  <span>{{ product.price | currency }}</span>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <label for="name">Name</label>
    <input formControlName="name" id="name" type="text" />
  </div>

  <div>
    <label for="address">Address</label>
    <input formControlName="address" id="address" type="text" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form>

<app-changes
  [address]="form.controls.address.value"
  [name]="form.controls.name.value"
></app-changes>
