.container {
    display: grid;
}

.point {
    height: 60px;
    border: 1px solid gray;
}

.point.flagged {
    background-color: #d76767;
}

.point.hidden {
    background-color: #b6b6b6;
}

.point.mine {
    background-color: black;
}

.suggest {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}
